#projects{
    overflow: hidden;
    width: 100rw;
    max-width: 75rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.title{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
   
   }
.projName{
    font-size: 1.5rem;
    font-weight: 500;
    padding-top: 1rem;
   
}
   .projDesc{
    font-weight: 300;
    font-size:medium;
    max-width:75rem;
    letter-spacing: 1px;
    padding-top: 0rem;

}